{% extends "patient/patient_base.html" %}
 
{% block title %}Patient Dashboard{% endblock %}

{% block content %}
<h3>Welcome, {{ name }}</h3>

<div class="mt-3 ms-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if role == 'overview' %}active{% endif %}"
         href="{{ url_for('patient_role_tab', role='overview') }}">
        Overview
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if role == 'book_appointment' %}active{% endif %}"
         href="{{ url_for('patient_role_tab', role='book_appointment') }}">
        Book Appointment
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if role == 'treatment_history' %}active{% endif %}"
         href="{{ url_for('patient_role_tab', role='treatment_history') }}">
        Treatment History
      </a>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if role == 'profile' %}active{% endif %}"
         href="{{ url_for('patient_role_tab', role='profile') }}">
         Profile
      </a>
    </li>
  </ul>
</div>

<div class="container mt-4">
  {% if role == 'overview' %}
    {% include 'patient/parts/overview.html' %}
  {% elif role == 'book_appointment' %}
    {% include 'patient/parts/book_step1.html' %}
  {% elif role == 'treatment_history' %}
    {% include 'patient/parts/treatment_history.html' %}
  {% elif role == 'profile' %}
    {% include 'patient/parts/profile.html' %}
  {% endif %}
</div>

{% endblock %}
